.cardAdmin {
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  padding: 50px;
}

.cardAdminLeft {
  width: 150px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardAdminLeftTop {
  height: 200px;
  /* background-color: pink; */
}

.cardAdminLeftBottom {
  /* background-color: yellow; */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cardAdminRight {
  padding-left: 50px;
  max-width: 700px;
}

div.cardAdminLeftTop > img {
  max-width: 100%;
  max-height: 100%;
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 550px) {

  .cardAdmin {
    flex-direction: column;
    padding: 20px;
  }

  .cardAdminRight {
    padding-left: 0px;
  }

}
