.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 40px;
  height: 5px;
  background: #4F4F4F;
}